* {
    margin: 0;
    box-sizing: border-box
}

:root {
    --background-1: #fff;
    --background-2: #000;
    --background-3: #151515;
    --black-color-0: #000;
    --black-color-3: #333;
    --black-color-5: #555;
    --black-color-7: #777;
    --white-color-1: #fff;
    --white-color-2: #eee;
    --white-color-3: #dddd;
    --white-color-4: #ccc;
    --theme-color-1: lightgreen;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
}


/* Navigation Bar */

.lp-badge {
    height: 50px;
    width: 265px;
}

.navbar {
    padding: 0 0 4.2rem;
}

.nav-item {
    padding: 0 3px;
    font-size: 1.1rem;
}

.nav-link {
    color: black;
}


/* Section 1 */

.container-fluid {
    padding: 7% 15%;
}

.big-heading {
    font-size: 2.1rem;
    line-height: 1.3;
    font-weight: bold;
    line-height: 145%;
}

.sub-heading {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
}


/* Title Section */

#title {
    background-color: var(--background-1);
    color: black;
    text-align: left;
}

#title .container-fluid {
    padding: 2% 5% 2%;
}


/************ our-team and contributor-section *******/

#our-team {
    padding: 1rem;
    background: linear-gradient(55deg, var(--background-3) 10%, var(--black-color-0));
}

.contributors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 10px;
    grid-row-gap: 2em;
    padding: 1.25rem;
}

@media screen and (min-width: 1600px) {
    .contributors {
        max-width: 1200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.contri-card {
    max-width: 200px;
    height: auto;
    border: 1px solid transparent;
    border-image: linear-gradient(transparent 30%, var(--theme-color-1));
    border-image-slice: 1;
}

.contri-card-front,
.contri-card-back {
    width: 100%;
}

.contri-card-front {
    padding-inline: 0.2rem;
}

.contri-card-front img {
    width: 100%;
    aspect-ratio: 1 /1;
    /* max-height: 250px; */
    border-radius: 50%;
    background: var(--background-1);
}

.contri-card-back {
    margin-block: 1rem 0.5rem;
    color: var(--white-color-1);
    padding-inline: 6px;
    font-size: 1.15rem;
    text-align: center
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .contri-card {
        max-width: 300px;
    }
    .contri-card-front img {
        max-height: 325px;
    }
}

.col{
    font-family: 'DM Serif Display', serif;
font-family: 'Lobster', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Sansita Swashed', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Source Serif 4', sans-serif;
font-family: 'Ultra', serif;
}
.text-muted{
    margin-top: 2rem;
   margin-left: 35rem;
   
}
.card{
    padding: 1rem;
}
