* {
    margin: 0;
    box-sizing: border-box
}

:root {
    --background-1: #fff;
    --background-2: #000;
    --background-3: #151515;
    --black-color-0: #000;
    --black-color-3: #333;
    --black-color-5: #555;
    --black-color-7: #777;
    --white-color-1: #fff;
    --white-color-2: #eee;
    --white-color-3: #ddd;
    --white-color-4: #ccc;
    --theme-color-1: lightgreen;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
}


/* Navigation Bar */

.lp-badge {
    width: 265px;
}

.navbar {
    padding: 0 0 4.2rem;
}

.nav-item {
    padding: 0 3px;
    /* font-size: 1.1rem; */
}

.nav-link {
    color: black;
}


/* Section 1 */


/* .container-fluid {
    padding: 7% 15%;
} */

.big-heading {
    font-size: 2.1rem;
    line-height: 1.3;
    font-weight: bold;
    line-height: 145%;
}

.sub-heading {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
}


/* Title Section */

#title {
    background-color: var(--background-1);
    color: black;
    text-align: left;
}


/* #title .container-fluid {
    padding: 2% 5% 2%;
} */

.col {
    /* font-family: 'DM Serif Display', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Source Serif 4', sans-serif;
    font-family: 'Ultra', serif; */
    font-family: 'Ubuntu', sans-serif;
}

.text-muted {
    margin-top: 2rem;
    margin-left: 35rem;
}

.card {
    padding: 1rem;
}

.about-para {
    color: var(--black-color-5);
    line-height: 1.7;
}

.workshop-list>* {
    padding: 0.6rem 1.5rem !important;
    color: var(--black-color-5) !important;
}

.workshop-list>*:last-child {
    margin-bottom: 0.75rem
}

.schedule {
    background-color: var(--background-2);
    border-radius: 4px
}

.schedule ul li {
    padding: 0.75rem 1.25rem !important;
    margin-block: 0.5rem !important;
    border-radius: 3px;
    background-color: var(--white-color-1)
}

.schedule ul li img {
    border: 1px solid var(--black-color-3);
    border-radius: 3px
}

.schedule [data-toggle] {
    cursor: pointer;
}

.schedule :not([data-toggle]) {
    user-select: none
}